
body {
    margin: 0;
    padding: 0;
}

/* header */

.header {
    font-family: Roboto, sans-serif;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.section1,
.section2 {
    display: flex;
    margin-left: 50px;
}

.first-section {
    padding-bottom: 50px;
}


.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    justify-content: flex-start;
    margin-top: 15px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
}

.right-links {
    justify-content: flex-end;
    margin: 20px;
}

a,
.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

h2 {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    margin-bottom: 0;
}

.button1 {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
}

.placeholder {
    background-color: grey;
    width: 500px;
    height: 250px;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-bottom: 150px;
}

.content1 {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

/* end of the header */

/* 1rst section */

.info {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    text-align: center;
    margin: 50px;
}

.flex-container {
    display: flex;
    max-width: 800px;
    margin-left: 200px;
}

.one,
.two,
.three,
.four {
    background: white;
    border: 4px solid #3882F6;
    height: 150px;
    width: 75px;
    flex: 1;
    margin: 20px;
    margin-bottom: 5px;
    border-radius: 16px;
}

.subtext {
    display: flex;
    max-width: 750px;
    margin-left: 220px;
    gap: 50px;
}

.subtext div {
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    padding-left: 7px;
}

/* end of 1rst section */

/* 2nd section */